<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Package Exporter"
            id="wm.packageexport.category">
      </category>
      <view
            name="Package Exporter"
            category="wm.packageexport.category"
            class="wm.packageexport.views.PackageExport"
            id="wm.packageexport.views.PackageExport">
      </view>
   </extension>
</plugin>
